# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
._*

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Node (if used in the future)
node_modules/
npm-debug.log*

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
